@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background-color: cadetblue;
}

.title {
  padding: 50px 25px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h4 {
  font-size: 1.5rem;
  font-weight: 300;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

@media (min-width: 320px) {
  .responsive-image {
    content: url('images/museum-320.jpg');
  }
}

@media (min-width: 480px) {
  .responsive-image {
    content: url('images/museum-480.jpg');
  }
}

@media (min-width: 720px) {
  .responsive-image {
    content: url('images/museum-720.jpg');
  }
}

@media (min-width: 960px) {
  .responsive-image {
    content: url('images/museum-960.jpg');
  }
}

@media (min-width: 1440px) {
  .responsive-image {
    content: url('images/museum-1440.jpg');
  }
}

@media (min-width: 960px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
  }
}
